html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section { 
    display: block;
  }
  body {
    font-family: sans-serif;
    line-height: 1;
  }
  ol, ul { 
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

.sticker-container{
  margin-top: 30px;
  padding-top: 1px;
  width: 155px;
  height: 210px;
  background-color: silver;
}


.number, .percent-off-group, .online, .use-code,  .details, .shop-now{
  margin-top: 10px;
  color:white;


}

  .number{
    text-align:right;
    font-size: 70px;
    font-weight: 700;
    

  }

  .percent-off-group{
    text-align:left;
  }

  .percent{
    font-size:40px;
    padding-left: 0px;
    font-weight: 700;
    margin-top: 4px;
  }

  .percent-and-number-group{
    padding: 0px;

}


  .off{
    font-size:18px;
    padding-left: 0px;
    font-weight: 700;
  }

  .online{
  text-align: center;
  font-size: 9px;
  letter-spacing: 1px;
  margin-bottom: 1px;
  }

 .use-code{
  text-align: center;
  font-weight: 100;
  margin-bottom: 20px;
  font-size: 11px;
  letter-spacing: .6px;

 }

 .details{
  text-align: center;
  text-decoration: underline;
  font-size: 8px;
  margin-bottom: 10px;
  font-weight: 100;
  letter-spacing: .5px;
 }

 .shop-now{
  text-align: center;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
 }


.dresses{
  text-align: center;
  color:white;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 6px;
}


.carousel-indicators .active{
     background-color: black;
   }
   .carousel-indicators li {
  background-color: gray;
   }


.shop-now-div{
position: static;
  padding-top: 1px;
  background-color: black;
  height:30px;
 }

.xx{
  font-size: 16px;
  font-weight: 700;
   letter-spacing: .4px;
}

.glyphicon{
  float: right;
  margin-top: -21px;
  margin-right:-14px;
  color:black;
  font-size: 20px;
}

